*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.navbar
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
    
}

.navbar__s1__title
{
  color: #e61fcb;

}
.navbar__s2
{
  padding: 10px;
  border: black solid 1px;
  border-radius: 30px;
  display: flex;
  width: 60%;
  gap: 10px;
  
  
}

.navbar__s2 input
{
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  
  
}

.navbar__s2 input:focus
{
  outline: none;
}

.navbar__s3
{
  display: flex;
  gap: 10px;
  vertical-align: center;
}
/* My Learning Popup */
.mylearning
{
  position: relative;
  cursor: pointer;
  
}
.mylearning:hover .mylearning__popup
{
  display: block;
}
.mylearning__popup
{
  position: absolute;
  background-color: white;
  border: solid black 1px;
  padding: 20px;
  width: 100px;
  top: 150%;
  right: 0;
  display: none;
}

.categories
{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-bottom: solid black 1px;
}

.categories p
{
  background-color: #e61fcb;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

.sale-image img
{
  width: 100%;
}
.sale-image
{
  position: relative;
}
.sale-image__offer
{
  width: 35%;
  border: solid black 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
}

.recommended
{
  padding: 10px;
}

.course-card
{
  width: 250px;
  
}

.course-card img
{
  width: 110%;
  height: 50%;
}

.recommended__container
{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topics
{
  margin-top: 20px;
}
.topics__container
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

}

.topics__container p
{
  border: solid gray 3px;
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
  padding: 10px;


}

.popular
{
  padding: 30px;
  justify-content: space-around;
}
.popular__card img
{
  width: 90%;
  height: 50%;
}

.popular__container
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
}

.footer
{
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__one
{
  display: flex;
  gap: 30px;
}

.footer__two
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}